process{
  container = '343307676715.dkr.ecr.eu-central-1.amazonaws.com/galaxy:vcfanalyzernextflow'
}


profiles{
docker{
  enabled = true
  temp = 'auto'
  docker.runOptions = '-u \$(id -u):\$(id -g)'
  }
}


params{
  input = "/home/bianca/vcf/git/data/*.vcf"
  inputdir ="/home/bianca/vcf/git/data/"
  outputdir = "data"
  exte="vcf"
  pass = ""
  recode = "--recode"
  recode_INFO_all = "--recode-INFO-all"
  minall = ""
  maxall = ""
  gq = ""
  dp = ""
  snpeffdb="snpEff_v4_3_hg38.zip"
  assembly="hg38"
  effect_expression="(ANN[0].EFFECT = '5_prime_UTR_premature_start_codon_gain_variant') | (ANN[0].EFFECT = 'frameshift_variant') | (ANN[0].EFFECT = 'missense_variant') | (ANN[0].EFFECT = 'splice_acceptor_variant') | (ANN[0].EFFECT = 'splice_donor_variant') | (ANN[0].EFFECT = 'splice_region_variant') | (ANN[0].EFFECT = 'start_lost') | (ANN[0].EFFECT = 'stop_gained') | (ANN[0].EFFECT = 'stop_lost')"
  keep_indels="--keep-only-indels"
  keep_snps="--remove-indels"
  snpsiftdb1="dbNSFP4.0b1a_hg38_complete.vcf.gz"
  snpsiftdb2="ExAC.r1.sites.vep.hg38.vcf.gz"
  cosmicdb="hg38_cosmic92_coding.vcf.gz"
  snpsexpr="(dbNSFP_1000Gp3_AF <= 0.01) & (dbNSFP_ExAC_AF <= 0.01) & (dbNSFP_gnomAD_exomes_AF <= 0.01)"
  indelsexpr="(KG_AF_GLOBAL <= 0.01) & (ESP_AF_GLOBAL <= 0.01) & (AF <= 0.01)"
  
  
}


